.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.text-content {
  flex: 1 1 550px;
}

.category {
  color: #405cf5;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.description {
  margin-bottom: 1.2rem;
  color: #333;
  font-size: 1rem;
}

.details {
  display: flex;
  gap: 2rem;
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: #555;
}

.view-case {
  display: inline-block;
  margin-top: 0.5rem;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.view-case:hover {
  color: #405cf5;
}

.image-content {
  flex: 1 1 500px;
  margin-top: 1.5rem;
}

.image-content img {
  width: 100%;
  max-height: 320px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.project-details h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}



.projects-section {
  margin-top: 4rem;
  text-align: center;
}

.projects-section h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 0 1rem;
}

.project-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.project-card:hover {
   transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
}

.project-info {
  padding: 1rem;
  text-align: left;
}

.project-info h3 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.project-info p {
  color: #888;
  font-size: 0.9rem;
}
