.team-section {
 background-color:  rgba(0, 0, 0, 0.65); 
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.team-section .icon {
  font-size: 60px;
  margin-bottom: 20px;
}

.team-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-section p {
  font-size: 1.1rem;
  color: #eee;
}
.team-grid-section {
  padding: 60px 20px;
  text-align: center;
  background: #f2f2f2;
}

.team-grid-section .header h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #1d1d1f;
  margin-bottom: 10px;
}

.team-grid-section .header p {
  max-width: 600px;
  margin: 0 auto 40px;
  color: #666;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.team-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
}

.team-card .role {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
}

.team-card h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
}

.icons {
  margin-top: 10px;
}

.icons a {
  margin: 0 8px;
  color: #333;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.icons a:hover {
  color: #0077b5;
}



